body {
    background-color: #901CAD;
}

.content-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.content-row {
    display: flex;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.content-heading {
    flex: 0 0 25%;
}

.content-heading.align-right {
    order: 1;
    text-align: right;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    text-align: center;
}